@import '~/mixins.scss';

.RulesSectionContainer{
  background-color: var(--pudge--bg-color);
  padding: var(--pudge-padding-container-content) 0 var(--pudge-padding-container-content) 0;
  .RulesSectionContent{
    h1{
      text-align: center;
      font-size: var(--pudge--text-title-second-size);
      margin-bottom: 100px;
      @include RobotoSlabBlack;
      color: var(--pudge--text-second-color);
    }
    p{
      color: var(--pudge--text-second3-color);
    }
  }
}

.RulesSectionContent ul {
  list-style: none;
  padding-left: 20px;
}
.RulesSectionContent li {
  display: flex;
  align-items: center;
  line-height: normal;
  margin-bottom: 10px;
}

.RulesSectionContent li::before {
  content: "•";
  margin-right: 10px;
  color: var(--pudge--text-alert-color);
  font-size: 22px;
}

