@import '~/mixins.scss';

.ComputerSpecsClubsContent{
  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    img{
      margin-bottom: 25px;
    }
  }
}
