@import '~/mixins.scss';

.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: var(--book-max-content-width);
  display: flex;
  flex-direction: column;
  @include blockCenter;
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    width: 100%;
    padding: 72px 0;
    height: 100%;
  }

  footer {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    main {
      padding: 48px 0;
    }
  }
}
