@import '~/mixins.scss';

.blur{
  position: fixed;
  overflow: auto;
  z-index: 10;
  background-color: var(--pudge--bg-color);
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  overflow: auto;
  position: fixed;
  z-index: 11;
  width: var(--pudge-max-content-width);
  height: 75vh;
  height: 75dvh;
  max-height: 75vh;
  max-height: 75dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
