@import '~/mixins.scss';

.ContactsSecContainer{
  background-color: var(--pudge--bg-color);
  padding: var(--pudge-padding-container-content) 0 var(--pudge-padding-container-content) 0;
  .ContactsSecContent{
    .contactsContent{
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-bottom: 25px;
      span{
        margin-bottom: 10px;
        transition: var(--pudge-transition-second) linear;
        color: var(--pudge--text-color);
      }
      a{
        margin-bottom: 10px;
        transition: var(--pudge-transition-second) linear;
        color: var(--pudge--text-color);
        &:hover {
          color: var(--pudge--text-second3-color);
        }
      }
      svg{
        width: 50px;
        height: auto;
        display: flex;
        @include flexCenter;
        transition: var(--pudge-transition-second) linear;
        fill: var(--pudge--text-color);
        &:hover {
          fill: var(--pudge--text-second-color);
        }
      }
    }
  }
}
