@import '~/mixins.scss';

.togleTitle{
  cursor: pointer;
  span{
    margin-left: 10px;
  }
}
.child{
  width: 100%;
  height: auto;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s linear, max-height 1s linear;
}
