@import '~/mixins.scss';

.table{
  width: 100%;
  display: flex;
  .col{
    width: 25%;
    display: flex;
    @include flexCenter;
    flex-direction: column;
  }
  .row{
    width: 100%;
    display: flex;
    @include flexCenter;
    height: 70px;
    div{
      display: flex;
      flex-direction: column;
      width: 50%;
      .rowCont{
        width: 100%;
        display: flex;
        @include flexCenter;
        margin-bottom: 5px;
      }
      .rowDesc{
        width: 100%;
        display: flex;
        @include flexCenter;
      }
    }
  }
}
