@import '~/mixins.scss';

.clubContainer{
  background-color: var(--pudge--bg-color);
  padding: var(--pudge-padding-container-content) 0 var(--pudge-padding-container-content) 0;
}

.sliderContainer{
  width: 100%;
  .slideContent{
    display: flex;
    iframe{
      width: 55%;
      height: 50vh;
      height: 50dvh;
      border-radius: 30px;
    }
    img{
      width: 55%;
      height: 50vh;
      height: 50dvh;
      border-radius: 30px;
    }
    .textWrapper{
      width: 45%;
      display: flex;
      @include flexCenter;
      flex-direction: column;
      font-size: var(--pudge--text-subtitle-size);
      text-align: center;
      margin-right: 15px;
      cursor: default;
      h3{
        font-size: var(--pudge--text-title-second-size);
        color: var(--pudge--text-second-color);
      }
      p{
        color: #BEBE0B;
      }
      a{
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sliderContainer{
    .slideContent{
      iframe, img{
        display: none;
      }
      .textWrapper{
        width: 100%;
        display: flex;
        @include flexCenter;
        flex-direction: column;
        font-size: var(--pudge--text-subtitle-size);
        text-align: center;
        margin-right: 15px;
      }
    }
  }
}
