@import '~/mixins.scss';
@import 'normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
  --pudge-max-content-width: 1200px;

  --pudge-padding-container-content: 100px;
  --pudge-margin-title-content: 50px;

  --pudge-transition-text: 0.3s;
  --pudge-transition-second: 0.5s;

  /*! BG */
  --pudge--bg-color: black;
  --pudge--bg-color-second: #1a1a1a;
  --pudge--bg-color-second2: #1d2c08;
  --pudge--bg-color-second3: #82c91e;
  --pudge--bg-color-second4: #BEBE0B;
  --pudge--bg-disabled-color: rgb(138, 138, 138);
  --pudge--bg-color2: white;
  --pudge--bg-alert-color: red;
  --pudge--bg-color-other: aqua;

  /*! TEXT */
  --pudge--text-color: white;
  --pudge--text-second-color: #82c91e;
  --pudge--text-second2-color: #1d2c08;
  --pudge--text-second3-color: #BEBE0B;
  --pudge--text-alert-color: red;
  --pudge--text-empty-border-color: rgba(255, 255, 255, 0);
  --pudge--text-color-links: aqua;

  --pudge--text-title-size: 80px;
  --pudge--text-title-second-size: 50px;
  --pudge--text-subtitle-size: 25px;
  --pudge--text-normal-size2: 22px;
  --pudge--text-normal-size: 20px;
}

[data-theme-mode='dark'] {

}

body {
  color: var(--pudge--text-color);
  background-color: var(--pudge--bg-color);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; 
}

h1 {
  margin: auto;
  cursor: default;
}

span, p{
  cursor: default;
}

h2, h3, h4, h4, h6{
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

.active{
  color: var(--pudge--text-second-color)!important;
  border-bottom: solid 2px var(--pudge--text-second-color)!important;
}

.disable-scroll{
  overflow: hidden;
}

// Свайпер

.swiper-slide{
  width: 100%!important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--pudge--bg-color2);
  color: var(--pudge--bg-color2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--pudge--bg-color-second3);
  color: var(--pudge--bg-color-second3);
}

@media (max-width: 1300px) {
  :root {
    --pudge-max-content-width: 1000px;
  }
}

@media (max-width: 1200px) {
  :root {
    --pudge-max-content-width: 668px;
  }
}

@media (max-width: 700px) {
  :root {
    --pudge-max-content-width: 400px;
  }
}

@media (max-width: 400px) {
  :root {
    --pudge-max-content-width: 350px;
  }
}
