@import '~/mixins.scss';

.AboutContainer{
  background-color: var(--pudge--bg-color);
  padding: var(--pudge-padding-container-content) 0 var(--pudge-padding-container-content) 0;
  .AboutSectionContent{
    h2{
      &:nth-child(2){
        color: var(--pudge--text-second3-color);
      }
    }
    p{
      font-weight: 500;
      font-size: var(--pudge--text-subtitle-size);
      color: var(--pudge--text-color);
      line-height: normal;
      text-align: center;
      strong{
        color: var(--pudge--text-second-color);
      }
    }
  }
}

