@import '~/mixins.scss';

.AccountContainer{
  background-color: var(--pudge--bg-color);
  padding: var(--pudge-padding-container-content) 0 var(--pudge-padding-container-content) 0;
}

.AccountContent{
  span{
    display: flex;
    @include flexCenter;
    width: 100%;
    color: var(--pudge--text-second3-color);
    font-size: var(--pudge--text-subtitle-size);
  }
  button{
    margin: 50px 0 0 0;
  }
}
