@import '~/mixins.scss';

.modalPhotoSlider{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: relative;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  button{
    position: absolute;
    top: 0;
  }
  &__right{
    right: 0;
  }
}
